        .wrapper {
            display: flex;  
            flex-flow: row wrap;
          }
          
          .wrapper > * {
            padding: 1px;
            flex: 1 100%;
          }
          
          .header {
          }
          
          .footer {
            position: fixed; /* Фиксированное положение */
            left: 0; bottom: 0; /* Левый нижний угол */
            width : 100%;
            background-color: white;
          }
          
          .main {
            text-align: left;
          }
          
          .aside-1 {
            
          }
          
          .aside-2 {
          
          }
          
          @media all and (min-width: 600px) {
            .aside { flex: 1 0 0; }
          }
          
          @media all and (min-width: 800px) {
            .main    { flex: 3 0px; }
            .aside-1 { order: 1; } 
            .main    { order: 2; }
            .aside-2 { order: 3; }
            .footer  { order: 4; }
          }
          
          body {
            
          }

          a:visited { 
            color: black; /* Цвет ссылки */
          } 
          a:active { 
            color: black; /* Цвет ссылки */
          } 
          a {
          }
         
          