<div class="wrapper">
    <header class="header">
        <div class="ui-g">
            <div class="ui-g-12">
                <a routerLink="/">
                    <img src="assets/header.png" style="width:100%">
                </a>
            </div>
        </div>
    </header>
    <article class="main">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </article>
    <footer class="footer">
        <div class="ui-fluid">
            <div class="ui-g">
                <div class="ui-g-12">
                    <img src="assets/footer.png" style="width:100%">
                    © ГЦ КТЦ 2019
                </div>
            </div>
        </div>
    </footer>
</div>